In [1]:
import pandas as pd

In [ ]:
data_dir = "../data/train_data.csv"
data = pd.read_csv(data_dir, sep='|')

In [ ]:
# find the maximum value of each column
# max{data} < 2^32 - 1
for i, column in data.items():
    if column.dtype != "int64":
        break
    max_value = column.max()
    min_value = column.min()
    if max_value > 2147483647 or min_value <  -2147483648:
        print(i, " overflow!")
    else:
        print(i, " fine")

In [ ]:
for i, column in data.items():
    print(i, column.dtype)

In [ ]:
del data["communication_onlinerate"]

In [ ]:
[column for column in data]

In [ ]:
data = pd.DataFrame(data, dtype="int32")

In [ ]:
# save the data as csv file
data.to_csv("../data/new_train_data.csv", index_label="index")

In [2]:
data_dir = "../data/new_train_data.csv"
data = pd.read_csv(data_dir, dtype="int32")

In [4]:
data.memory_usage().sum() / (1024**3)

5.620184615254402

In [3]:
size = len(data)
selected = int(0.75 * size)
new_data = data[: selected]

In [5]:
new_data.memory_usage().sum() / (1024**3)

4.215138390660286

In [6]:
new_data.to_csv("../data/train_data_75.csv", index_label="index")

In [7]:
new_data

,index,label,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,...,emui_dev,list_time,device_price,up_life_duration,up_membership_grade,membership_life_duration,consume_purchase,communication_avgonline_30d,indu_name,pt_d
0,0,0,1638254,2112,6869,7,207,17,5,11,...,20,4,4,20,-1,-1,2,12,17,1
1,1,0,1161786,3104,3247,7,183,29,5,17,...,20,4,4,18,-1,-1,2,12,17,1
2,2,0,1814783,5890,4183,7,178,17,5,11,...,20,4,5,20,-1,-1,2,11,36,1
3,3,0,1468996,1993,5405,7,207,17,5,21,...,20,7,3,-1,-1,-1,2,11,17,1
4,4,0,2164010,5439,4677,2,138,24,5,12,...,20,7,3,-1,-1,-1,2,11,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31430344,31430344,0,1956276,1760,2138,7,126,19,5,13,...,20,9,3,-1,-1,-1,2,13,46,4
31430345,31430345,0,1292567,2093,6676,7,167,37,5,12,...,14,12,1,-1,-1,-1,2,5,17,4
31430346,31430346,0,1158980,3063,4638,7,207,17,5,13,...,14,13,2,18,-1,-1,2,11,17,4
31430347,31430347,0,1187823,2093,6676,7,167,37,5,11,...,20,4,4,-1,-1,-1,2,10,17,4
31430348,31430348,0,1591221,3122,5210,6,139,60,3,16,...,20,8,4,20,1,-1,2,12,38,4

In [ ]:
data_dir = "../data/new_train_data.csv"
data = pd.read_csv(data_dir, dtype="int32")

In [ ]:
data.isna().sum()