In [1]:
import pandas as pd

In [ ]:
data_dir = "../data/train_data.csv"
data = pd.read_csv(data_dir, sep='|')

In [ ]:
# find the maximum value of each column
# max{data} < 2^32 - 1
for i, column in data.items():
    if column.dtype != "int64":
        break
    max_value = column.max()
    min_value = column.min()
    if max_value > 2147483647 or min_value <  -2147483648:
        print(i, " overflow!")
    else:
        print(i, " fine")

In [4]:
for i, column in data.items():
    print(i, column.dtype)

index int32
label int32
uid int32
task_id int32
adv_id int32
creat_type_cd int32
adv_prim_id int32
dev_id int32
inter_type_cd int32
slot_id int32
spread_app_id int32
tags int32
app_first_class int32
app_second_class int32
age int32
city int32
city_rank int32
device_name int32
device_size int32
career int32
gender int32
net_type int32
residence int32
his_app_size int32
his_on_shelf_time int32
app_score int32
emui_dev int32
list_time int32
device_price int32
up_life_duration int32
up_membership_grade int32
membership_life_duration int32
consume_purchase int32
communication_avgonline_30d int32
indu_name int32
pt_d int32

In [ ]:
del data["communication_onlinerate"]

In [ ]:
[column for column in data]

In [ ]:
data = pd.DataFrame(data, dtype="int32")

In [ ]:
# save the data as csv file
data.to_csv("../data/new_train_data.csv", index_label="index")

In [2]:
data_dir = "../data/new_train_data.csv"
data = pd.read_csv(data_dir, dtype="int32")

In [3]:
data.memory_usage().sum() / (1024**3)

5.620184615254402

In [6]:
size = len(data)
selected = int(0.25 * size)
new_data = data[: selected]

In [7]:
new_data.memory_usage().sum() / (1024**3)

1.405046209692955

In [8]:
new_data.to_csv("../data/selected_new_train_data.csv", index_label="index")

In [9]:
new_data

,index,label,uid,task_id,adv_id,creat_type_cd,adv_prim_id,dev_id,inter_type_cd,slot_id,...,emui_dev,list_time,device_price,up_life_duration,up_membership_grade,membership_life_duration,consume_purchase,communication_avgonline_30d,indu_name,pt_d
0,0,0,1638254,2112,6869,7,207,17,5,11,...,20,4,4,20,-1,-1,2,12,17,1
1,1,0,1161786,3104,3247,7,183,29,5,17,...,20,4,4,18,-1,-1,2,12,17,1
2,2,0,1814783,5890,4183,7,178,17,5,11,...,20,4,5,20,-1,-1,2,11,36,1
3,3,0,1468996,1993,5405,7,207,17,5,21,...,20,7,3,-1,-1,-1,2,11,17,1
4,4,0,2164010,5439,4677,2,138,24,5,12,...,20,7,3,-1,-1,-1,2,11,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476778,10476778,0,1470153,5049,2504,6,104,37,5,18,...,28,5,4,18,-1,-1,2,12,17,2
10476779,10476779,0,1265663,4437,1863,4,112,60,3,12,...,17,14,4,-1,-1,-1,2,12,33,2
10476780,10476780,0,1829755,2229,5483,7,156,56,5,13,...,14,13,2,-1,-1,-1,2,11,17,2
10476781,10476781,0,1816630,1847,6428,7,178,17,5,12,...,14,10,2,-1,-1,-1,2,9,36,2
10476782,10476782,0,1829493,3346,6894,7,156,56,5,13,...,20,12,2,-1,-1,-1,2,12,17,2

In [2]:
data_dir = "../data/new_train_data.csv"
data = pd.read_csv(data_dir, dtype="int32")

In [3]:
data.isna().sum()

index                          0
label                          0
uid                            0
task_id                        0
adv_id                         0
creat_type_cd                  0
adv_prim_id                    0
dev_id                         0
inter_type_cd                  0
slot_id                        0
spread_app_id                  0
tags                           0
app_first_class                0
app_second_class               0
age                            0
city                           0
city_rank                      0
device_name                    0
device_size                    0
career                         0
gender                         0
net_type                       0
residence                      0
his_app_size                   0
his_on_shelf_time              0
app_score                      0
emui_dev                       0
list_time                      0
device_price                   0
up_life_duration               0
up_membership_grade            0
membership_life_duration       0
consume_purchase               0
communication_avgonline_30d    0
indu_name                      0
pt_d                           0
dtype: int64